@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;1,200;1,400&display=swap");

/* font-family: 'Karla', sans-serif;

font-family: 'Spectral', serif; */

:root {
  --main-font: "Spectral", serif;
  --heading-font: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #867ae9;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.mainHead {
  position: relative;
  top: calc(100px - 20rem);
  font-family: var(--main-font);
  font-size: 5rem;
}

.jokeCategory {
  position: relative;
  top: calc(100px - 19rem);
  font-family: Karla;
  font-size: 1.5rem;
  font-weight: 600;
}

.categoryButton {
  position: relative;
  top: calc(100px - 16rem);
  background-color: #185adb;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  color: #ffff;
  cursor: pointer;
  font-size: 20px;
  padding: 14px 40px;
  width: 200px;
  border-radius: 50px;
  margin: 0 0 0 15px;
}

.categoryButton:active {
  transform: scale(0.95);
}

.categoryButton:focus {
  outline: 0;
}

.jokeContainer {
  position: relative;
  top: calc(100px - 10rem);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
  height: auto;
}

.lineAboveJoke {
  opacity: 0.5;
  letter-spacing: 2px;
  margin: 0;
  font-family: var(--heading-font);
  position: relative;
  top: calc(100px - 8rem);
  font-weight: 600;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  font-family: var(--main-font);
}

.jokeDelivery {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  font-family: var(--main-font);
}
.newJokeButton {
  background-color: #185adb;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 40px;
}

.newJokeButton:active {
  transform: scale(0.95);
}

.newJokeButton:focus {
  outline: 0;
}

.footer {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  font-family: var(--main-font);
  font-size: 1.5rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0px;
}

.footerText {
  position: absolute;
  top: 0.5em;
}

.footerIcon {
  position: absolute;
  top: 2.2em;
  word-spacing: 3em;
  cursor: pointer;
}

/* CSS Media Queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .mainHead {
    position: relative;
    top: calc(100px - 12rem);
    font-family: var(--main-font);
    font-size: 1.8rem;
  }
  .jokeCategory {
    position: relative;
    top: calc(100px - 12rem);
    font-family: Karla;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .categoryButton {
    position: relative;
    top: calc(100px - 11.5rem);
    background-color: #185adb;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: #ffff;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 14px 40px;
    width: 120px;
    border-radius: 50px;
    margin: 10px 0 0 2px;
    display: inline-flex;
    justify-content: center;
  }
  .jokeContainer {
    position: relative;
    top: calc(100px - 9rem);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    max-height: fit-content;
    width: 400px;
    height: auto;
  }
  .joke {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 20px auto;
    max-width: 100%;
    width: 400px;
    min-width: 300px;
    font-family: var(--main-font);
    display: flex;
    justify-self: center;
  }
  .footer {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    font-family: var(--main-font);
    font-size: 1rem;
    border-radius: 15px 15px 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: fit-content;
    height: 12vh;
    position: absolute;
    bottom: 0;
    margin-top: 50px;
  }
  .footerText {
    position: absolute;
    top: 0.4em;
  }

  .footerIcon {
    max-width: 100%;
    position: absolute;
    top: 2rem;
    word-spacing: 2rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 568px) and (max-height: 600px) {
  .mainHead {
    position: relative;
    top: calc(100px - 13rem);
    font-family: var(--main-font);
    font-size: 2.5rem;
  }

  .jokeCategory {
    position: relative;
    top: calc(100px - 13rem);
    font-family: Karla;
    font-size: 1.1rem;
    font-weight: 800;
  }

  .categoryButton {
    position: relative;
    top: calc(100px - 11rem);
    background-color: #185adb;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: #ffff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 14px 40px;
    width: 160px;
    border-radius: 50px;
    margin: 10px 0 0 2px;
    display: inline-flex;
    justify-content: center;
  }
  .jokeContainer {
    position: relative;
    top: calc(100px - 9rem);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    max-height: fit-content;
    width: 400px;
    height: auto;
  }

  .joke {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 20px auto;
    max-width: 400px;
    min-width: 300px;
    font-family: var(--main-font);
  }
  .footer {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    font-family: var(--main-font);
    font-size: 1.2rem;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 13vh;
    position: absolute;
    margin-top: 25px;
        bottom: 0;
  }
  .footerText {
    position: absolute;
    top: 0.5em;
  }

  .footerIcon {
    max-width: auto;
    position: absolute;
    top: 3rem;
    word-spacing: 2rem;
    cursor: pointer;
  }
}
